
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //Custom Theme files -->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" media="all"/>
    <link href="~/Content/css/style.css" rel="stylesheet" media="all"/>
    <!-- js -->
    <script src="~/Content/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap-3.1.1.min.js"></script>
    <!-- //js -->
    <!-- cart -->
    <script src="~/Content/js/simpleCart.min.js"></script>
    <!-- cart -->
</head>
<body>
    @RenderBody()
    <!--//footer-->
    <div class="footer-bottom">
        <div class="container">
            <p>Copyright &copy; 谢丽玲保留所有权利<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
        </div>
    </div>
</body>
</html>
