@{
    Layout = null;
}

<div class="banner">
    <div class="container">
        <h2 class="hdng">
            Yummy <span>Cakes</span> for u
        </h2>
        <p>我们最好的蛋糕让你的一天特别</p>
        <a href="/ShopNow/ShopStore">现在去购物</a>
        <div class="banner-text">
            <img src="~/Content/images/2.png" alt="" />
        </div>
    </div>
</div>

