@{
    Layout = null;
}

<!--subscribe-->
<div class="subscribe">
    <div class="container">
        <h3>通讯</h3>
        <form>
            <input type="text" class="text" value="电子邮件" onfocus="this.value = '';" onblur="if (this.value == '') { this.value = 'Email'; }">
            <input type="submit" value="订阅">
        </form>
    </div>
</div>
